<md-dialog aria-label="Update IKE Policy"  ng-controller="UpdateIKEPolicyController" ng-cloak class='create_scope_modal md-inline-form'>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Update IKE Policy</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                X
            </md-button>
        </div>
        <md-progress-linear md-mode="indeterminate" class='md-warn md-hue-3' ng-show="show_prog_bar"></md-progress-linear>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column" ng-cloak class="md-inline-form" ng-show='show_form_elements'>
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <md-content layout-padding>

                    <div>
                        <form name="updateIKEPolicyCForm">

                            <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Name: {{scope_name}}</label>
                                        <input ng-model="scope_name">
                                    </md-input-container>
                                </div>
                                
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>IKE Version: {{ike_version}}</label>
                                        <md-select ng-model="ike_version" flex-gt-sm ng-change="updateObjects(ike_version)">
                                            <md-option ng-repeat="version in ike_version_options" ng-value="version">{{version}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Encryption Algorithm: {{encryption_algorithm}}</label>
                                        <md-select ng-model="encryption_algorithm" ng-multiple="multi_select" flex-gt-sm>
                                            <md-option ng-repeat="encryption_algo in encryption_algorithm_options" ng-value="encryption_algo">{{encryption_algo}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Integrity Algorithm: {{integrity_algorithm}}</label>
                                        <md-select ng-model="integrity_algorithm" ng-multiple="multi_select" flex-gt-sm>
                                            <md-option ng-repeat="integrity_algo in integrity_algorithm_options" ng-value="integrity_algo">{{integrity_algo}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Diffie-Hellman Group: {{dh_group}}</label>
                                        <md-select ng-model="dh_group" ng-multiple="multi_select" flex-gt-sm>
                                            <md-option ng-repeat="dh_grp in dh_group_options" ng-value="dh_grp">{{dh_grp}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Phase1 Negotiation Mode: {{phase1_negotiation_mode}}</label>
                                        <md-select ng-model="phase1_negotiation_mode" flex-gt-sm>
                                            <md-option ng-repeat="phase1_negotiation_mode in phase1_negotiation_mode_options" ng-value="phase1_negotiation_mode">{{phase1_negotiation_mode}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Lifetime Value: {{lifetime_value}}</label>
                                        <input ng-model="lifetime_value">
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Lifetime Units: {{lifetime_units}}</label>
                                        <md-select ng-model="lifetime_units" flex-gt-sm>
                                            <md-option ng-repeat="lifetime_units in lifetime_units_options" ng-value="lifetime_units">{{lifetime_units}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>REKEY: {{rekey}}</label>
                                        <md-select ng-model="rekey" flex-gt-sm>
                                            <md-option ng-repeat="rekey in rekey_options" ng-value="rekey">{{rekey}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>REAUTH: {{reauth}}</label>
                                        <md-select ng-model="reauth" flex-gt-sm>
                                            <md-option ng-repeat="reauth in reauth_options" ng-value="reauth">{{reauth}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Description: {{description}}</label>
                                        <input ng-model="description">
                                    </md-input-container>
                                </div>

                            <md-dialog-actions layout="row">
                                <md-button class='form-btns btn-cancel' ng-click="cancel()">Cancel</md-button>
                                <span flex></span>
                                <md-button class='form-btns btn-submit' ng-click="submit()">Update</md-button>
                            </md-dialog-actions>

                        </form>
                    </div>
                </md-content>
            </md-content>
        </div>

        <md-input-container class="md-block status_msg_block"  ng-show='show_status_msgs'>
            <i class="fa fa-times-circle fa-4x status_icons err_icon" ng-show="show_err_icon"></i><br />
            <i class="fa fa-check-circle fa-4x status_icons success_icon" ng-show="show_success_icon"></i><br />
            {{status_msg}}<br>
            <div ng-repeat="(field, description) in error_messages">{{field}}: <span ng-repeat="msg in description">{{msg}}{{ $last ? '' :', ' }}<span><br/><div>
        </md-input-container>

    </md-dialog-content>
</md-dialog>

