<div class="main" ng-controller="VPNBindGroupToGroupDetailsController">
</div>

<h1 class="page-header">VPN Bind Group to Group: {{detailed_scope.name}}</h1>

<div class="table-reponsive" id="scope_list_details">
  <table class="table table-striped" >
    <tr>
      <th>UUID</th>
      <td>{{ detailed_scope.id }}</td>
    </tr>

    <tr>
      <th>Name</th>
      <td>{{ detailed_scope.name }}</td>
    </tr>

    <tr>
      <th>VPN Endpoint Group ID</th>
      <td>{{ detailed_scope.vpnendpointgroup_id }}</td>
    </tr>

    <tr>
      <th>Peer VPN Endpoint Group ID</th>
      <td>{{ detailed_scope.peer_vpnendpointgroup_id }}</td>
    </tr>

    <tr>
      <th>Dead Peer Detection(DPD) Action</th>
      <td>{{ detailed_scope.dpd_action }}</td>
    </tr>

    <tr>
      <th>Dead Peer Detection(DPD) Interval</th>
      <td>{{ detailed_scope.dpd_interval }}</td>
    </tr>

    <tr>
      <th>Dead Peer Detection(DPD) Timeout</th>
      <td>{{ detailed_scope.dpd_timeout }}</td>
    </tr>

    <tr>
      <th>Auth-mode</th>
      <td>{{ detailed_scope.auth_mode }}</td>
    </tr>

    <tr>
      <th>Pre-Shared Key</th>
      <td>{{ detailed_scope.psk }}</td>
    </tr>

    <tr>
      <th>Initiator</th>
      <td>{{ detailed_scope.initiator }}</td>
    </tr>

    <tr>
      <th>IKE Policy ID</th>
      <td>{{ detailed_scope.ikepolicy_id }}</td>
    </tr>

    <tr>
      <th>IPsec Policy ID</th>
      <td>{{ detailed_scope.ipsecpolicy_id }}</td>
    </tr>

    <tr>
      <th>Description</th>
      <td>{{ detailed_scope.description }}</td>
    </tr>
  </table>
</div>
