<div class="main" ng-controller="VPNEndpointLocalsiteDetailsController">
</div>

<h1 class="page-header">IPSEC Policy: {{detailed_scope.name}}</h1>

<div class="table-reponsive" id="scope_list_details">
  <table class="table table-striped" >
    <tr>
      <th>UUID</th>
      <td>{{ detailed_scope.id }}</td>
    </tr>

    <tr>
      <th>Name</th>
      <td>{{ detailed_scope.name }}</td>
    </tr>

    <tr>
      <th>CIDRS</th>
      <td><span ng-repeat="cidrs in detailed_scope.cidrs">{{ cidrs }}{{ $last ? '' :', ' }}</span></td>
    </tr>

    <tr>
      <th>VPN Certificate ID</th>
      <td>{{ detailed_scope.vpncertificate_id }}</td>
    </tr>

    <tr>
      <th>Description</th>
      <td>{{ detailed_scope.description }}</td>
    </tr>
  </table>
</div>
