{% for ipsec_strongswan_secret in ipsec_strongswan_secrets %}
{% if ipsec_strongswan_secret.auth_mode == "psk" %}
{{ipsec_strongswan_secret.left_id}} {{ipsec_strongswan_secret.right_id}} : PSK "{{ipsec_strongswan_secret.psk}}"
{% elif ipsec_strongswan_secret.auth_mode == "cert" %}
{{ipsec_strongswan_secret.peer_fqdn}} : RSA {{ipsec_strongswan_secret.key}}
{% endif %}
{% endfor %}
